{
  "presets": [ "@babel/preset-env" ],
  "plugins": [
    [ "@babel/plugin-transform-runtime", {
      "absoluteRuntime": false,
      "corejs": false,
      "helpers": false,
      "regenerator": true,
      "useESModules": false,
    } ],
    [ "@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" } ],
    "@babel/plugin-proposal-partial-application",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-do-expressions",
    "@babel/plugin-proposal-optional-chaining",
    [ "@babel/plugin-proposal-private-methods", { "loose": true } ],
  ],
  "sourceMaps": true,
  "retainLines": true
}